h1#site-name {
margin-left:-25px;/*lost margin*/
}

#search  {
width:400px;/*may not enought for */
}

#logo-title {
float:none;
position:absolute;
width:910px
}

#logo {
top:-35px;
float:right;
position:relative;
}

#navigation {
margin-bottom:-10px;/*experimental fix*/
}

#navigation ul.menu
{
height: 60px;
line-height: 1em;
}

#navigation ul.menu li
{
line-height: 1em;
}


#navigation ul.menu li a
{
height: auto;/*IE6*/
line-height: 24px;
padding: 4px 8px 5px 8px;
margin-bottom: 0;
}

/*SUBMENU FIX*/
/*om.css*/
#navigation ul.menu ul.menu li a {
list-style-image:none;
}

#navigation ul.menu ul.menu
{
top: 40px;/*submenu vert position correction*/
}

#navigation ul.menu ul.menu li
{
margin:0 0 -16px 0;/*roll-back hack*/
}

#navigation ul.menu ul.menu li.last
{
background-color:transparent;/*double-bug hack*/
}

#navigation{
height: 0px;/*set default height*/
}

#navigation ul.menu li a:hover {
background-color:#950000;
}

#navigation  ul.menu li.sfHover ul.menu
{
display: block;/*make back to visible*/
}

#navigation ul.menu ul.menu li.sfHover a
{
background-color:#950000;
}


.front h1, h2, h3, h4, h5
{
line-height:1em;
}

.not-front .region-inner .node .content {
padding-top:30px;
}

.front .node span.submitted, .page-taxonomy .node span.submitted, .page-category .node span.submitted
{
position:absolute;/*too much floating othervise*/
top:50px;
margin-left:24px;
}

.not-front .node span.submitted
{
position:absolute;/*too much floating othervise*/
top:50px;
margin-left:24px;
}

.front .node .content
{
display:inline-block;
}

/*FIX missing floating*/
ul.links.inline {
position:relative;
display:block;
height:20px;
font-size:14px;
}

.node
{
position:relative;/*you have lost your head, IE6*/
}

.meta2inner {
clear:both;
margin-left:-17px;/*double margin bug*/
float:left;
}

.node h2.title_submitted
{
position:absolute;/*not floating othervise*/
margin-left:-70px;
}
/*FIX missing floating*/

.page-node h1.title_submitted
{
position:absolute;/*not floating othervise*/
margin-left:-58px;
}

.comment{
background-color: #E6E6E6;/*stupid solution for a stupid browser*/
}

.not-front .messages {/*messages up-right*/
float:right;
position:absolute;
top:0;
width:auto;
right:0;
line-height:20px;
text-align:right;
}

.front h2.title a, .page-category  h2.title a, .page-taxonomy h2.title a
{
    padding-left: 10px;
}


ul.primary
{
line-height:20px;/*exp*/
}

ul.primary li {
top:3px;
position:relative;/*exp*/
}

#sidebar-first, #sidebar-second
{
margin:0 10px 0 16px;/*shift sidebars up*/
}


form .container-inline a
{
position:absolute;
margin: 0;/*I cannot help you*/
padding: 0;
}

.with-edit-block .edit-block {
float:left;
position:relative;/*block drop-out problem if absolute*/
}

#node-admin-filter dl.multiselect dd .form-item
{
margin-top:2px;
width:10em;
}

#node-admin-buttons
{
margin-left:2em;
}

/*contact: contact_form_on_node hach need for this*/
h3.contacttitle {
line-height:50px;
}

#contact-mail-user{
padding:8px 20px 20px 20px;/*double padding top*/
}


#node-admin-buttons {
margin-left:1em;
/*too much margin*/
}

/*images png2gif*/
#header {
background:url("../images/headertop2.gif") no-repeat scroll 0 0 transparent;
}

#header-inner {
background:url("../images/headerbg2.gif") no-repeat scroll 0 0 transparent;
}

#navigation {
background:url("../images/topnavbg.gif") no-repeat scroll 0 0 transparent;
}

#logo-title img{
display:none;
}

#logo
{
    background: url("../images/logo.gif") no-repeat scroll 0 0 transparent;
    padding:0px;
width:210px;
height:150px;
/*position:absolute;*/
}

.meta2inner {
    background: url("../images/datebg.gif") no-repeat scroll 0 0 transparent;
}

.block h3 {
background:url("../images/downarrow.gif") no-repeat scroll right top #F4F4F4;
}

.block-user h3 {
background-color: #464848;
}

#sidebar-second .container-inline {
background: none no-repeat scroll 0 0 #F4F4F4;
border-bottom:1px solid #DFDFDF;
color:#333333;
}

/*SOLUTION: reset lost float*/
.region-inner .node .content {
float:left;
}

.page-page-view .region-inner .node .content {
margin-top:30px;
}

#footer-message {
position:static;/*gap problem*/
}

.footer_bottom_left {
margin-left:12px;/*double margin bug*/
}

