#search .form-item
{
margin:10px;
float:left;/*force inline with button*/
}

#search input[type="submit"]
{
margin:10px 0;
}

#navigation li.leaf
{
list-style-image: url("../images/clear.gif");/*double-bug hack vith almost nothing image*/
}

#navigation ul.menu
{
margin-top:14px;
}

#navigation ul.menu ul.menu
{
margin-top:0px;
}

#navigation ul.menu li
{
top:0px;
}

/*FIX missing floating*/
ul.links.inline {
position:absolute;
height:20px;
}

/*FIX missing floating*/
/*.front */
#main .links li.comment_comments {
position:absolute;
}

.node
{
position:relative;/*you have lost your head, IE6*/
}

.meta2inner {
clear:both;
float:left;
}

.node_read_more {
margin-right:30px;/*floats out*/
}

#main-inner .tabs ul li, #main-inner .tabs ul li a.active
{
position:relative;
float:left;/*missing tab labels*/
}

ul.primary
{
line-height:25px;
height:20px;
}

.front .node .content
{
display:inline-block;
}

/*contact: contact_form_on_node hach need for this*/
h3.contacttitle {
margin-bottom:-20px;
line-height:50px;
}

#contact-mail-user{
padding:8px 20px 20px 20px;/*double padding top*/
}

#footer-message {
position:static;/*gap problem*/
}
