*
{
font-size:14px;
background-color: transparent;/*IE DD roundy js problem!*/
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th
{
    vertical-align: baseline;
}

td
{
vertical-align: middle;
}

.clear-block {
display:block;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size:0.9em;
line-height: 1.5em;
color: #333333;
background: url("../images/bg2.jpg") no-repeat scroll center top #292929;/*Konqueror default bg color bug*/
}

/*HEAD*/
#name-and-slogan {
float:left;
margin:25px 0 0 25px;
}

h1#site-name {
float:left;
left:0;
position:relative;
top:0;
}

h1#site-name a {
    color: #003366;
    font-family: "Times New Roman", serif;
    font-size: 48px;
    /*font-style: italic;*/
    line-height: 1em;
    text-shadow: 0 0 6px #AAAAAA, 0 0 12px #CCCCCC, 0 0 2px #FFFFFF;
}

h1#site-name a:hover
{
text-decoration:none;
text-shadow:0 0 6px #FFAAAA, 0 0 12px #EECCCC, 0 0 2px #FFFFFF;
font-style: normal;
}

#site-slogan {
color:slategray;
font-family: "Times New Roman", serif;
font-size:48px;
font-style:inherit;
font-weight:bold;
left:0;
line-height:1em;
position:relative;
text-shadow:0 0 6px #AAAAAA, 0 0 12px #CCCCCC, 0 0 2px #FFFFFF;
z-index:1;
}

#search  {
left:325px;
padding:0;
position:absolute;
top:40px;
}

#logo-title {
float:none;
position:relative;
}

#logo {
float:none;
margin-right:10px;
position:absolute;
right:20px;
top:-35px;
}


/*sidebars*/

.no-sidebars #main
{
position:relative;/*IE bug*/
float:left;/*gap problem after content*/
padding: 20px 24px 0 24px;
width:864px;
}

.sidebar-right #main
{
position:relative;/*IE bug*/
padding: 20px 15px 0 24px;
width:630px;
border-right:1px dotted #C9C9C9;
}

#sidebar-second {
float:right;
margin:0 24px 0 16px;
padding-top:10px;
width:200px;
}

#main-inner .help
{
clear: both;
}

h1, h2, h3, h4, h5, h6
{
color: #555555;
line-height:2em;
}

h1 {
color:#C00000;
font-size:1.6em;
text-shadow:1px 1px 2px #DDDDDD;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size:1.4em;
}

h4
{
font-size: 1.3em;
}

h5
{
font-size: 1.2em;
}

h6
{
font-size: 1.1em;
}

a {
color:#333333;
font-weight: bold;
}

p, div {
line-height:1.5em;
}

h2 a {
color:#C00000;
font-size:20px;
font-weight:bold;
text-shadow:1px 1px 1px #E0E0E0;
line-height: 48px;
}

h2 a:hover {
text-decoration: none;
font-style: italic;
}

#header {
background:url("../images/headertop2.png") no-repeat scroll 0 0 transparent;
padding-top:26px;
min-height:90px;
z-index:100;
position:static
}
#header-inner {
background:url("../images/headerbg2.png") no-repeat scroll 0 0 transparent;
height:90px;
z-index:1;
padding:0 26px;
}

.wrapper-outer {
margin-top:24px;
width:960px;
}

.wrapper-inner {
margin:0;
padding:0;
}

#container.wrapper
{
background:url("../images/innerbg-top.png") no-repeat scroll 0 0 #FFFFFF;
margin:0 24px;
width:912px;
position:static;/*ie7 bottom gap*/
}

/*NAVIGATION*/
#navigation {
background:url("../images/topnavbg.png") no-repeat scroll 0 0 transparent;
height:60px;
position:static;/*ie7?;*/
padding:0 40px;
z-index:10;
}

#navigation ul.menu li a {
background-color: transparent;
border-right:1px solid #CE3232
}

#navigation ul.menu li.active-trail a
{
background-color: #950000;
}

#navigation ul.menu li:hover>a
{
background: none no-repeat scroll 0 0 #950000;
color: #FFFFFF;
}

dt {
padding-top: 6px;
}

#navigation ul.menu, #navigation ul.menu li, #navigation ul.menu li a {
color:#FFFFFF;
top:14px;
height:32px;
line-height:32px;
padding-bottom:0;
text-align:center;
z-index:11;/*ie7*/
}

#navigation ul.menu li a {
padding:0 20px;
width:auto;
}


/*SUBMENU*/

#navigation ul.menu ul.menu
{
background:none repeat scroll 0 0 #C00000;
z-index: 10;/*static menu!*/
height: auto;
left:auto;
position: absolute;
top:40px;
/* -moz-max-content;tranparent artifact*/
width: auto;/*inline auto*/
}

#navigation ul.menu ul.menu a
{
font-size: 12px;
border-bottom: 1px dotted #CE3232;
color:#666666;
}

#navigation ul.menu ul.menu li.last a
{
border-right: 1px solid transparent;
}

#navigation ul.menu li
{
position: relative;/*static inline menu*/
padding-bottom:10px;/*gap filling: disappearing submenu*/
}

#navigation ul.menu li:hover ul.menu
{
top: 40px;/*avoid menu overlap artifact, make gap*/
}

#navigation ul.menu ul.menu li
{
background:none repeat scroll 0 0 #C00000;
height: auto;
width: auto;
top:0px;/*submenu top position*/
white-space:nowrap;
float:none;
padding-bottom:0px;/*gap*/
}

#navigation ul.menu ul.menu li a
{
font-variant: normal;
background:none repeat scroll 0 0 #C00000;/*default color*/
border-bottom: 1px solid #CE3232;
color:#FFFEFE;
padding: 10px 10px 10px 10px;
margin-top: 0px;/*gap*/
width: auto;/*override om reset, but IE6-7 height-margin problem*/
text-align:left;
letter-spacing:1px;
}

#navigation ul.menu ul.menu li a:hover
{
background-color: #950000;
color: #FFFFFF;
}

/*HIGHLIGHTED*/
#highlighted-inner
{
padding:10px 33px;
}

#mission
{
margin-bottom: 15px;
}

/*BLOCKS*/
.block-inner
{
margin: 0;/*display block-user correctly*/
padding: 5px 0 0 0;
}

#footer .block-last .block-inner
{
border-bottom:0px dotted #B7C0C9;
}

.block ul
{
margin: 0.2em 0;
padding: 0;
}

.block ul.menu li
{
padding: 2px 0;
margin-left: 12px;
}

.block h3 {
background:url("../images/downarrow.png") no-repeat scroll right top #F4F4F4;
border-top:1px solid #C00000;
color:#474747;
font-size:18px;
font-weight:normal;
line-height:22px;
margin-bottom:12px;
margin-top:10px;
padding:4px 12px;
}

.block-user h3.title, .block-search h3.title {
background-color:#464848;
color:#FFFFFF;
}

.block-user h3
{
background-color:#464848;
color:#FFFFFF;
margin-bottom:2px;
}

.block-user .item-list ul
{
    margin-top:0px;
    padding: 0;
}

.block-user .item-list ul li
{
    background: url("../images/item-pointer.gif") no-repeat 4px 8px #F4F4F4;
    list-style-image: none;
    border-bottom: 1px solid #DFDFDF;
    margin:0px;
    padding: 3px 0 3px 16px;
}

.block-user .item-list ul li a
{
    color: #666666;
}

.block-user .item-list ul li a:hover
{
color: #000000;
text-decoration:none;
}

.block ul.menu a
{
margin: 0;
padding: 0;
font-weight:lighter;
}

.block ul.menu a:hover
{
color: #C00000;
text-decoration:none;
}

.block-inner li, .item-list ul li, li.leaf, li.expanded
{
list-style-type: none;
list-style-image: none;
}

.block-inner li, .block-inner li.leaf, .block-inner li.expanded
{
list-style-image: url("../images/sq-bullet3.gif");
}


#sidebar-second div.content, #sidebar-second label
/*for certain unique contents*/
{
font-weight:lighter;
font-size:12px;
}

#sidebar-second div.content a
/*for certain unique contents*/
{
font-size:14px;
}

.node
{
padding-bottom: 40px;
}

.meta2inner {
    background: url("../images/datebg.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    height: 70px;
    margin-left: -34px;
    position: relative;
    width: 58px;
}

.meta2inner .pday {
    font-size: 26px;
    font-weight: bold;
    left: 10px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 48px;
}

.meta2inner .pmonth {
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 48px;
}


/* DATE and TIME LABELED CONTENT */

.node h2.title_submitted {
    float: none;
    line-height: 20px;
    margin-left: -36px;
    padding-left: 68px;
    position: relative;
    z-index: 5;
}

.page-node h1.title_submitted
/*, .section-content h1.title*/
{
float:none;
line-height:48px;
margin-left:-34px;
padding-left:68px;
position:relative;
z-index:5;
}

.node span.submitted
{
color:#999999;
font-size: 11px;
}

.not-front .node span.submitted {
    float: left;
    left: 12px;
    line-height: 1em;
    margin-top: -4px;
    position: relative;
}

.front .node span.submitted, .page-taxonomy .node span.submitted, .page-category .node span.submitted {
    float: left;
    left: 10px;
    line-height: 1em;
    margin-top: -4px;
    position: relative;
}

/*TERMS*/
.terms-inline {
clear:both;
float:left;
width:100%;/*IE bug*/
}

.terms-inline a
{
color:#999999;
font-size:0.8em;
}

.terms-inline ul.links.inline
{
position:relative;/*IE bug*/
}

.terms-inline ul.links.inline li
{
float:left;/*IE bug*/
}


/*CONTENT*/
.content
{
clear: both;/*ell*/
}

.region-inner .node .content
{
/*border-top: 1px dotted #C9C9C9;*/
padding-top: 10px;
}

.not-front.page-adoption-view #main-inner .content, .not-front.page-publication-view #main-inner .content
{
/*border-top: 1px dotted #C9C9C9;*/
padding-top: 40px;
}

.wrapper-outer .content p
{
color: #000000;
}

.front #main .content p, .page-taxonomy #main .content p, .page-category #main .content p
{
clear: both;
padding: 10px;
color: #333333;
}

.links_foot ul.links.inline {
background:none repeat scroll 0 0 #E6E6E6;
position:absolute;
padding: 6px 12px;
color: #333333;
width:95%;
}

.front #main .links li.node_read_more, .page-category  #main .links li.node_read_more, .page-taxonomy #main .links li.node_read_more
{
    background: url("../images/icon-more.png") no-repeat scroll left center transparent;
    padding-left: 20px;
	clear:none;
	float:right;
}

.front #main .links li.comment_comments, .page-category  #main .links li.comment_comments, .page-taxonomy #main .links li.comment_comments
{
    background: url("../images/icon-comment.png") no-repeat scroll left center transparent;
    padding-left: 20px;
    margin-left: 20px;
	clear:none;
	float:left;
}

.body-field-wrapper
{
clear: both;
}

.node_read_more {
clear: both;
float: right;
}


/*CONTAINERS, BUTTONS and FORMS*/

input[type="submit"] {
background-color: #C00000;
border: 1px solid #7A0000;
color: #FFFFFF;
font-weight: bold;
margin: 10px;
padding: 2px;
}

input[type="submit"]:hover {
    background-color: #950000;
}

form .container-inline a {
    margin: 10px;
    padding: 2px;
    position: relative;
    top: 10px;
}

input[type="text"], textarea, select
{
    background: url("../images/inputbg.png") no-repeat 0 0 transparent;/*#C9CCD0;*/
    border: 1px solid #858A8E;
    color: #333333;
}

.form-checkboxes .form-item, .form-radios .form-item {
    float: left;/*not IE compatible!*/
    margin-bottom: 0;
    margin-top: 0;
padding-right: 1em;
}

.form-item .description {
    clear: both;
    font-size: 0.9em;
font-style: italic;
}

#sidebar-second .container-inline
{
    background: none repeat scroll 0 0 #474747;
    border-top: 2px solid #C00000;
    color: #FFFFFF;
    display: block;
    padding: 4px 4px 4px 16px;
}

#sidebar-second .container-inline label {
    border-top: 0px solid #C00000;
}

/*EDIT PAGES*/
.section-node-edit .form-checkboxes, .section-node-edit .form-radios, .section-node-edit .form-item select
{
    margin: 1em 0 0.1em 0;
}

.section-node-edit .container-inline
{
padding: 10px;
}

/*TABLE*/
thead th
{
background-color: #F5F5F0;
border-bottom: 2px solid #CCCCCC;
border-top: 1px solid #CCCCCC;
padding-right:2px;
padding-left:3px;
}

table tr
{
border-left:1px solid #E0E0E0;
border-right:1px solid #E0E0E0;
}

table td
{
padding-right:2px;
padding-left:3px;
}

tr.odd
{
background-color: #FFFAF0;
border-bottom: 1px solid #E0E0E0;
padding: 0.1em 0.6em;
}

.odd td/*IE*/
{
background-color: #FFFAF0;
}

tr.even
{
background-color: #FFFFFD;
border-bottom: 1px solid #EEEEEE;
padding: 0.1em 0.6em;
}

.even td/*IE*/
{
background-color: #FFFFFD;
}

td.active
{
background-color: #E0E0E0;
}


/*CONTACT USER MODULE*/
/*contact: contact_form_on_node hach need for this*/
h3.contacttitle {
background:none repeat scroll 0 0 #E6E6E6;
border-bottom:1px solid #CCCCCC;
clear:both;
margin-top:2em;
padding:0 12px;
width:auto;
}

.page-node #contact-mail-user, .page-node #contact-user-anon-mail-user
{
background:none repeat scroll 0 0 #E6E6E6;
clear:both;
padding:20px;
}


.page-node  #contact-mail-user .form-text, .page-node  #contact-mail-user .form-textarea
{
background-color: #FFFFFF;
}

/*contact_user_anon module extra elements*/
.page-node  #contact-user-anon-mail-user .form-text, .page-node  #contact-user-anon-mail-user .form-textarea
{
background-color: #FFFFFF;
}

.page-node  .form-item label.option {
white-space:nowrap;/*for IE*/
}

/*page user*/
.page-user #main .region-inner, .page-users #main .region-inner
{
    clear: both;
}


/*footer message*/
#footer-message {
background:none repeat scroll 0 0 #FFFFFF;
margin:0 24px;
padding:24px;
}

/*FOOTER*/
#footer .block-inner
{
text-align:left;
margin-bottom:0;
}

.footer_bottom
{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 912px;
position:relative;/*IE div drop out bug*/
}

.footer_bottom_left  {
float:left;
width:276px;
margin-left: 24px;
}

.footer_bottom_middle  {
float:left;
width:276px;
margin-left: 18px;
}

.footer_bottom_right  {
float:left;
width:276px;
margin-left:18px;
}

.footer_bottom_triple .block-inner
{
border: 0px solid #000000;
margin: 0;
color: #BBBBBB;
/*EI float bug? See up!*/
clear: both;
float: none;
position: relative;
}

.footer_bottom_single
{
clear: both;
}

.footer_bottom_single .block
{
padding: 30px 0;
/*EI float bug? See up!*/
clear: both;
float: none;
position: relative;
}

.footer_bottom_single .block-inner
{
border: 0px solid #000000;
margin: 0;
padding: 30px;
color: #BBBBBB;
/*EI float bug? See up!*/
clear: both;
float: none;
position: relative;
}

.footer_bottom li a.active/*system.css override*/
{
color: #DDDDDD;
}

#legal {
    background-color: #292929;
    color: #555555;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0 10px;
    width: 912px;
}

#legal a
{
color: #444444;
}

/*COMMENT*/

#comments {
    background: none repeat scroll 0 0 #E6E6E6;
}

#comments .comment
{
border-left: 1px solid #CECECE;
clear: both;/*ell*/
padding: 10px;
}

#comments .comment .links
{
border-bottom: 1px solid #CECECE;
}

.not-front .messages {
    clear: both;
    float: left;
    width: 610px;
}


/*SYSTEM CORRECTIONS AN 3RD PARTY*/

#sidebar-first .block legend
{
white-space: normal;/*CAPTCHA  interference?*/
}

#attach-wrapper .description
{
    white-space: normal;
}

.widgIframe {
border: 1px solid #DDDDDD;
height: 400px;/*editor size*/
}
